* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: url('anime.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background-image: url('your-image-url.jpg'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.btn {
    background-color: #3385ff;
    color: white;
    padding: 3px 20px   1px;
    text-decoration: 20px;
    border-radius: 10px;
    margin: 10px;
}

.about {
    padding: 50px;
    background-color: #df5d12;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
}
